.btn {
  padding: 1.5rem 10rem;
  max-width: 100%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-button {
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
